.cards{
    display: -webkit-inline-flex;
    justify-content: center;
    background-color: transparent;
    margin: 15px;
    align-items: center;
    border-radius: 10px;
    border: 3px solid  #5093a0;
    text-align: center;
    }

.card{
    width: 220px;
    height: 320px;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    }

.card.model{ 
    width: 100%;
    } 
.cardModel{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    
}
.cardImg{
    max-width: 130px;
    min-width: 130px;
    margin: 10px;
}
.info{
    text-align: center;
    margin: 15px;
}

.detalle{
    margin-top: 20px;
    align-items: end;
 }
.card .detalle{
    background-color: rgb(165, 231, 231);
    border-radius: 10px;
}