.carrito{
    align-items: end;
    width: 100%;
    text-align: end;
    margin-right: 20px;
    
}
.dibujo{
    background-color: rgb(255, 210, 127);
}
/* .numCarro{
    text-align: end;
    margin-right: 8px;
} */