.navegador{
   background-color: #5093a0;
   width: 100%;
   height: auto;
   padding: 10px;
   text-align: center;
   align-items: center;
 
}
.marca .Categories{
  width: 100%;
  text-align: start;
  align-items: center;
  }

.btns{
  text-decoration: double;
}

.btn{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
 
}

