* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}  

.App{
    background-color: rgba(255, 228, 196, 0.19);
    display: flex;
    flex-direction: column;
    min-height:  100vh; 
}

/* borde del iem list */
.ListGroup {
  border : solid 5px pink ;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
}

/* nav */
.navegador{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5093a0;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.ItemDetailContainer{
  background-color: aquamarine;
display: flex;
position: relative;
align-items: center;
}

.contenedorCarrito{
background-color: #5093a0;
}

.carrito{
  align-items: end;
  width: 100%;
  text-align: end;
  margin-right: 20px;
  padding: 30px;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.dibujo{
  background-color: rgb(255, 210, 127);
}

.container{
  display: flex;
  flex-direction: row;
}


.logo {
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: center;
}

.categories{
  width: 100%;
  text-align: center;
  align-items: center;

    
 }

.titulo{
  font-size: 35px;
  color: blueviolet;
  text-align: center;
  margin-top: 25px;
}

.titulo2{
  font-size: 25px;
  color: chocolate;
  text-align: center;
  margin: 25px;
}


.counter{
    display: flex;
    background-color: azure;
    flex-direction: row;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin: auto;
    color: black;
}
.controles{
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: -1;
    align-items: center;
    align-items: center;
    padding: 30px;
}


/*botones*/
.btns{
  text-decoration: double;
}

.btnActiv{
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  color: #264572;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.btnLg{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  color: gray;
}

.btnC1{
  display: flex;
  flex-direction: column;
  background-color:rgb(100, 130, 180);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.btnC2{
  display: block;
  background-color:rgb(100, 130, 180);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.btnC3{
  background-color: rgb(100, 130, 180);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  font-size: large;
  z-index: -1;
}

.numContador{
    text-align: center;
}

/* Tarjetas */
.cards{
  display: -webkit-inline-flex;
  justify-content: center;
  background-color: transparent;
  margin: 15px;
  align-items: center;
  border-radius: 10px;
  border: 3px solid  #5093a0;
  text-align: center;
}

.card{
  width: 220px;
  height: 320px;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}
.card .model{ 
  width: 100%;
} 

.cardModel{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.cardImg{
  width: 130px;
  height:  130px;
  margin: 10px;
}

.info{
  text-align: center;
  margin: 15px;
}

.price{
color: teal;
margin: 5px,
}

.stock{
color: green;
margin: 5px;
}
.description{
  color: black;
  margin: 5px;
}
.detail{
  margin-top: 20px;
  align-items: end;
}



.card .btn:hover{
  background-color: rgb(215, 203, 203);
  transform: scale(1.2);
}


.ItemDetailContainer{
  background-color: aquamarine;
display: flex;
position: relative;
align-items: center;
}

.saludo{
  width: 100%;
  text-align: center;
  align-items: center;
}


/* footer */
.pie{
  background-color:#5093a0;
  color: rgb(20, 19, 19);
  display: flex;
  flex-direction:column;
  padding: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-top: auto;
  
}

.pie1{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
  }  

.pie2{
   margin:auto;
  padding-top: 10px;
  text-align: center;
  }
