
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
  }  
  .App{
    background-color: rgba(255, 228, 196, 0.19);
    
  }