
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
  }  
  .App{
    background-color: rgba(255, 228, 196, 0.19);
    
  }


  
  .counter{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin: auto;
}
.controles{
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: -1;
    align-items: center;
    padding: 30px;
}

.btnC1{
    display: flex;
    flex-direction: column;
    background-color:rgb(100, 130, 180);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.btnC2{
    display: block;
    background-color:rgb(100, 130, 180);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    }

.btnC3{
    background-color: rgb(100, 130, 180);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    font-size: large;
    z-index: -1;
    ;
}
.numContador{
    text-align: center;
}



.cards{
  display: -webkit-inline-flex;
  justify-content: center;
  background-color: transparent;
  margin: 15px;
  align-items: center;
  border-radius: 10px;
  border: 3px solid  #5093a0;
  text-align: center;
  
  }

.card{
  width: 220px;
  height: 320px;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  }

.card.model{ 
  width: 100%;
  } 
.cardModel{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
  
}
.cardImg{
  width: 130px;
  height:  130px;
  margin: 10px;
  
}

.info{
  text-align: center;
  margin: 15px;
}

.detalle{
  margin-top: 20px;
  align-items: end;
}


.card .detalle{
  background-color: rgb(165, 231, 231);
  border-radius: 10px;
  
}
.card .detalle:hover{
  background-color: rgb(176, 174, 174);
  transform: scale(1.2);

}



.ItemDetailContainer{
  background-color: rgba(245, 245, 220, 0.226);
}


.saludo{
  width: 100%;
  text-align: center;
  align-items: center;
}


.cards{
  display: -webkit-inline-flex;
  justify-content: center;
  background-color: transparent;
  margin: 15px;
  align-items: center;
  border-radius: 10px;
  border: 3px solid  #5093a0;
  text-align: center;
  }

.card{
  width: 220px;
  height: 320px;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  }

.card.model{ 
  width: 100%;
  } 
.cardModel{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
  
}
.cardImg{
  max-width: 130px;
  min-width: 130px;
  margin: 10px;
}
.info{
  text-align: center;
  margin: 15px;
}

.detalle{
  margin-top: 20px;
  align-items: end;
}
.card .detalle{
  background-color: rgb(165, 231, 231);
  border-radius: 10px;
}